nav {
  display: flex;
  justify-content: space-around;
  background-color: red;
  padding: 1.5rem;
}

.ordering{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.spacing{
  padding: 1rem;
  width: calc(100%/4);
}
